# Azure Database configuration
DB_HOST=
DB_PASSWORD=
DB_NAME=
DB_USER=
DB_PORT=5432

DB_EMBEDDING_TABLE_FOR_PRODUCTS=embeddings_products
DB_EMBEDDING_TABLE_FOR_REVIEWS=embeddings_reviews
TOP_K=8
PAGE_SIZE=10
MAX_PRODUCTS_FOR_PERSONALIZATION=2

###############################
# Azure OpenAI / LLM configuration
###############################
# NOTE: These must be populated for migrations that use azure_ai extension.
# If you only need core schema, you can leave them blank AND set USE_AZURE_AI_FOR_REVIEWS=False
LLM_MODEL=gpt-4o
EMBEDDING_MODEL=text-embedding-3-small
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_API_VERSION_LLM=
AZURE_API_VERSION_EMBEDDING_MODEL=
USE_AZURE_AI_FOR_REVIEWS=False
MIGRATION_BATCH_SIZE=100
MIGRATION_SLEEP_SECONDS=5

###############################
# Mem0 memory configuration
###############################
MEM0_LLM_PROVIDER=azure_openai
MEM0_MEMORY_PROVIDER=pgvector
MEM0_MEMORY_TABLE_NAME=mem0_chatstore
MEM0_SEARCH_MSG_LIMIT=1500
MEM0_EMBEDDING_MODEL_DIMS=1536
MEM0_AZURE_OPENAI_MAX_TOKENS=2000
MEM0_AZURE_OPENAI_TEMPERATURE=0.1


###############################
# Arize Phoenix for observability
###############################

PHOENIX_COLLECTOR_ENDPOINT="http://localhost:6006/v1/traces"
PHOENIX_CLIENT_ENDPOINT="http://localhost:6006"
PHOENIX_PROJECT_NAME="Agentic Shop"

###############################
# SQLAlchemy / Runtime configuration
###############################
SQLALCHEMY_CONNECTION_POOL_SIZE=50
PAGE_SIZE=10
TOP_K=20
PRODUCT_SEARCH_RESPONSE_SIZE=8
MAX_PRODUCTS_FOR_PERSONALIZATION=2
INVENTORY_AGENT_TIMEOUT=60
REVIEW_AGENT_TIMEOUT=60
PRODUCT_PERSONALIZATION_AGENT_TIMEOUT=60
PRESENTATION_AGENT_TIMEOUT=60
VERBOSE=false
DEBUG=false
APP_VERSION=0.1.0
ENVIRONMENT=dev
